*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 250, 237);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.container{
    min-height: 100dvh;
    width: 100%;
    background-color: rgba(255, 250, 237, 0.4);
}

.pageTitle{
    padding-top: 50px;
    text-align: center;
}

.resourceContainer{
    margin: 30px auto;
    max-width: 800px;
}

.innerTitle{
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

.resources{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.resource{
    margin: 10px 25px;
    transition: .3s ease-in-out;
}

.resource:hover{
    transform: scale(1.2);
}

.resourceLink{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resourceLink img{
    width: 50px;
    height: 50px;
}

.resourceLink p{
    text-align: center;
}

#resumeDownload{
    display: block;
    max-width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 2.5px;
    margin: 15px auto 0 auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: sans-serif;
    text-decoration: none;
    box-shadow: 0 0 0 black;
    transition: 0.3s ease-in-out;
}

#resumeDownload:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 black;
}

.projectsContainer{
    max-width: 1520px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project{
    max-width: 300px;
    margin: 20px 0;
}

.projectTitle{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

.projectLink{
    max-width: 250px;
}

.projectImage{
    width: 100%;
}
